/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.cart {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.title{
  text-decoration: underline;
}


.subCart{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;

}
